# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Personal notes
dummy_data
creds.json

# Ignore any temp vim files
*.swp
*.swo

!*.go
main

populater/tmp